= link_to article_path(article)  do
  .card
    .card_content
      .card_title
        %p Brackets
    .card_content
      .card_text
        = article.title
        .card_detail
          = image_tag 'Oval.png'
