.article
  %h1.article_title= @article.title
  .article_detail
    = image_tag 'Oval1.png'
    %div
      %p cohki0305
      %p 2020/4/16
  .article_content
    = @article.content
  .article_heart
    = image_tag 'Shape.png'
